canvas {
  background: url('./Castle.jpg');
  background-repeat: no-repeat;
  background-size: 800px 500px;
  margin-left: 125px;
  margin-top: 50px;
  position: absolute;
  z-index: 3;
  display: flex;
}

body > h1 {
  position: absolute;
  font-size: 45px;
  color: red;
  margin-left: 435px;
  margin-top: 280px;
  display: flex;
  width: 300px;
  height: 200px;
  z-index: 5;
}
